<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Minha lista de compras</title>
</head>

<body>
  <main class="container">
    <h1>Minha lista de compras</h1>
    <div class="input-group">
      <input 
        type="text" 
        placeholder="Adicione um item na lista de compras" 
        id="new-item" 
        class="new-item">
        <button onclick="addItem()" id="btnAdd">Adicionar</button>
    </div>
    <ul id="lista-compra"> </ul>
    <div id="lista"></div>
  </main>
  <script src="lista.js"></script>
</body>

</html>